<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LabsJavaAsSecondLanguegeDWP-SP2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletBasics</display-name>
    <servlet-name>ServletBasics</servlet-name>
    <servlet-class>ServletBasics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBasics</servlet-name>
    <url-pattern>/processorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Base</display-name>
    <servlet-name>Base</servlet-name>
    <servlet-class>proc.Base</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Base</servlet-name>
    <url-pattern>/proc/base.md</url-pattern>
  </servlet-mapping>
</web-app>